@page "/lamps/add"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using MySmartHomeWebApi.Models
@using MySmartHomeWebApi.Data.Interfaces
@using Client.Blazor.Auth.Data
@using System.Security.Claims
@using WebApiClients.Repositories
@inject IEntityRepository<Lamps> repo
@inject NavigationManager NavManager
@inject ITokenStorage tokenStorage
@inject AuthenticationStateProvider provider

<h3>LampsAdd</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label>Name</label>
        </dt>
        <dd class="col-sm-10">
            <input @bind=@lamp.Name/>
        </dd>
        <dt class="col-sm-2">
            <label>Topic Up</label>
        </dt>
        <dd class="col-sm-10">
            <input @bind=@lamp.TopicUp />
        </dd>
        <dt class="col-sm-2">
            <label>Topic Down</label>
        </dt>
        <dd class="col-sm-10">
            <input @bind=@lamp.TopicDown />
        </dd>
        <dt class="col-sm-2">
            <label>Room Name</label>
        </dt>
        <dd class="col-sm-10">
            <input @bind=@lamp.RoomName />
        </dd>
    </dl>
    <button class="btn btn-primary" @onclick="AddLamp">Add lamp</button>
</div>
<div>
    <a href="lamps">Back to List</a>
</div>
@code {
    Lamps lamp = new Lamps();

    protected async Task AddLamp()
    {
        var webRepo = (WebRepository<Lamps>)repo;
        var authState = await provider.GetAuthenticationStateAsync();
        var user = authState.User;
        var t = tokenStorage.GetToken(user.FindFirst(c => c.Type == ClaimTypes.Email)?.Value!);
        webRepo.SetDefaultRequestHeaders(t);

        lamp.Id = Guid.NewGuid();
        lamp.DateTimeUpdate = DateTime.Now;
        lamp.Status = false;
        await webRepo.Add(lamp);
        NavManager.NavigateTo("/lamps");
    }
}
