@page "/account/login"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using MySmartHomeWebApi.Models
@using Client.Blazor.Data

@inject HttpClient Http
@inject NavigationManager NavManager

<h3>Login</h3>

<p>
    <input type="text" @bind="@user.Email" placeholder="Enter e-mail" />
</p>
<p>
    <input type="password" @bind="@user.Password" placeholder="Enter password" />
</p>
<p>
    <button class="btn btn-primary" @onclick="LoginUser">Sign In</button>
</p>

@code {

    Persons user = new Persons { Id = Guid.Empty };
    Token token = new Token();
    protected async Task LoginUser()
    {
        var response = await Http.PostAsJsonAsync("Login", user);

        try
        {
            token = await response.Content.ReadFromJsonAsync<Token>();
            if (response.StatusCode == System.Net.HttpStatusCode.OK && token is not null)
            {
                if (!Token.tokens.ContainsKey(token.username))
                    Token.tokens.Add(token.username, token.access_token);
                else
                    Token.tokens[token.username] = token.access_token;

                NavManager.NavigateTo("/");
            }
            else
            {
                NavManager.NavigateTo("/account/register");
            }
        }
        catch
        {
            NavManager.NavigateTo("/account/login", true);
        }


        
    }

}
