@page "/account/register"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using MySmartHomeWebApi.Models

@inject HttpClient Http

<h3>Register</h3>

<p>
    <input type="text" @bind="@user.Email" placeholder="Email" />
</p>
<p>
    <input type="password" @bind="@user.Password" placeholder="Password" />
</p>
<p>
    <button class="btn btn-primary" @onclick="CreateUsers">Sign Up</button>
</p>
<p>
    <textarea @bind=@user2.Email></textarea>
</p>



@code {
    
    Users user = new Users();
    Users user2 = new Users();
    protected async Task CreateUsers()
    {
        var response = await Http.PostAsJsonAsync("Login/SignUp", user);
        user2 = await response.Content.ReadFromJsonAsync<Users>();
    }
}
