@page "/sensors/edit/{sensorId}"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using MySmartHome.DAL.Models
@using MySmartHome.DAL.Repositories.Interfaces
@using Client.Blazor.Auth.Data
@using System.Security.Claims
@using WebApiClients.Repositories
@inject IEntityRepository<Sensors> repo
@inject ITokenStorage tokenStorage
@inject AuthenticationStateProvider provider
@inject NavigationManager NavManager

<h3>Sensor Edit</h3>

@if (sensor == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                <label>Name</label>
            </dt>
            <dd class="col-sm-10">
                <input @bind=@sensor.Name />
            </dd>
            <dt class="col-sm-2">
                <label>Value</label>
            </dt>
            <dd class="col-sm-10">
                <input @bind=@sensor.Value disabled/>
            </dd>
            <dt class="col-sm-2">
                <label>Topic Up</label>
            </dt>
            <dd class="col-sm-10">
                <input @bind=@sensor.TopicUp />
            </dd>
            <dt class="col-sm-2">
                <label>Topic Down</label>
            </dt>
            <dd class="col-sm-10">
                <input @bind=@sensor.TopicDown />
            </dd>
            <dt class="col-sm-2">
                <label>Room Name</label>
            </dt>
            <dd class="col-sm-10">
                <input @bind=@sensor.RoomName />
            </dd>
        </dl>
        <button class="btn btn-primary" @onclick="EditSensor">Edit sensor</button>
    </div>
    
    <div>
        <a href="sensors">Back to List</a>
    </div>
}

@code {

    Sensors? sensor;

    [Parameter]
    public string? sensorId { get; set; }
    private Guid _id;

    WebRepository<Sensors>? webRepo;

    protected override async Task OnInitializedAsync()
    {
        webRepo = (WebRepository<Sensors>)repo;
        var authState = await provider.GetAuthenticationStateAsync();
        var user = authState.User;
        var t = tokenStorage.GetToken(user.FindFirst(c => c.Type == ClaimTypes.Email)?.Value!);
        webRepo.SetDefaultRequestHeaders(t);
        _id = Guid.Parse(sensorId!);
        sensor = await webRepo.GetById(_id);
    }

    protected async Task EditSensor()
    {
        sensor.DateTimeUpdate = DateTime.Now;
        sensor = await webRepo.Update(sensor);
        NavManager.NavigateTo("/sensors");
    }
}
