@page "/"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using MySmartHomeWebApi.Models
@using Client.Blazor.Auth.Data
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject HttpClient http
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Index</PageTitle>


<SurveyPrompt Title="How is Blazor working for you?" />

<h3>@authMessage</h3>
<div>
Умный дом - это система, которая позволяет автоматизировать различные функции в доме с помощью централизованного контроля и управления устройствами через сеть Интернет.
</div><br />
<div>
С помощью системы умного дома вы можете:

    <div>Управлять освещением, температурой и вентиляцией в каждом комнате отдельно</div>
    <div>Управлять системой безопасности, включая датчики движения, видеонаблюдение и сигнализацию</div>
    <div>Управлять электроприборами и бытовой техникой через умные розетки</div>
    <div>Следить за энергопотреблением и экономить электроэнергию</div>
</div><br />
<div>
Если у вас возникнут какие-либо вопросы или проблемы с системой, пожалуйста, свяжитесь с нашей службой поддержки по телефону: 888-555-1212 или напиши
</div>
@code{

    private string authMessage;
    private string surnameMessage;
    private string message;
    private IEnumerable<Claim> claims = Enumerable.Empty<Claim>();


    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user1 = authState.User;

        if (user1.Identity.IsAuthenticated)
        {
            authMessage = $"Добро пожаловать, {user1.Identity.Name}";
            claims = user1.Claims;
            surnameMessage = $"Surname: {user1.FindFirst(c => c.Type == ClaimTypes.Surname)?.Value}";
        }
        else
        {
            authMessage = "Пожалуйста, войдите или зарегистрируйтесь";
        }
    }
}