@page "/"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using MySmartHomeWebApi.Models
@using Client.Blazor.Auth.Data
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject HttpClient http
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Index</PageTitle>


<SurveyPrompt Title="How is Blazor working for you?" />

<h3>@authMessage</h3>

@code{

    private string authMessage;
    private string surnameMessage;
    private IEnumerable<Claim> claims = Enumerable.Empty<Claim>();


    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user1 = authState.User;

        if (user1.Identity.IsAuthenticated)
        {
            authMessage = $"Добро пожаловать, {user1.Identity.Name}";
            claims = user1.Claims;
            surnameMessage = $"Surname: {user1.FindFirst(c => c.Type == ClaimTypes.Surname)?.Value}";
        }
        else
        {
            authMessage = "Пожалуйста, войдите или зарегистрируйтесь";
        }
    }
}